* {
    background: rgba(255, 255, 255, 0.7);
    primary: #424e84;
    primary-fixed: #6571aa;
    primary-fixed-dim: #4d5990;
    on-primary: #ffffff;
    on-primary-fixed: #ffffff;
    on-primary-fixed-variant: #ffffff;
    primary-container: #98a4e0;
    on-primary-container: #00062a;
    secondary: #4d5064;
    secondary-fixed: #707389;
    secondary-fixed-dim: #585b6f;
    on-secondary: #ffffff;
    on-secondary-fixed: #ffffff;
    on-secondary-fixed-variant: #ffffff;
    secondary-container: #a3a6bd;
    on-secondary-container: #050819;
    tertiary: #684761;
    tertiary-fixed: #8d6985;
    tertiary-fixed-dim: #73516c;
    on-tertiary: #ffffff;
    on-tertiary-fixed: #ffffff;
    on-tertiary-fixed-variant: #ffffff;
    tertiary-container: #c39bb9;
    on-tertiary-container: #170216;
    error: #a6050f;
    on-error: #ffffff;
    error-container: #ff8376;
    on-error-container: #1f0000;
    surface: #fbf8ff;
    on-surface: #1b1b21;
    on-surface-variant: #45464f;
    outline: #6c6c75;
    outline-variant: #a7a6b0;
    shadow: #000000;
    scrim: #000000;
    inverse-surface: #303036;
    inverse-on-surface: #f2f0f7;
    inverse-primary: #b8c3ff;
    surface-dim: #d5d3db;
    surface-bright: #fbf8ff;
    surface-container-lowest: #ffffff;
    surface-container-low: #f5f2fa;
    surface-container: #edebf3;
    surface-container-high: #e6e4eb;
    surface-container-highest: #dedce4;
}
