[Desktop Entry]

# 名称
Name=Hillstone Secure Connect
# Name[zh_CN]=
Comment=HillstoneSecureConnect is a software for establishing remote connections, supporting mobile devices, Windows, Mac, Linux and other devices.
Comment[zh_CN]=HillstoneSecureConnect 是一款建立远程连接的软件, 支持移动设备、Windows、Mac、Linux等设备。

# 目标类型类型
Type=Application
# 程序路径
Exec=env LD_LIBRARY_PATH="/opt/HillstoneSecureConnect/lib" QT_QPA_PLATFORM=xcb QT_IM_MODULE=xim /opt/HillstoneSecureConnect/bin/HillstoneSecureConnect -style fusion 
# 程序图标
Icon=/opt/HillstoneSecureConnect/HillstoneSecureConnect.svg
# 程序分类
Categories=Network;Security;ZTNA;
# 程序关键词(索引)
Keywords=ZTNA;ztna;
