[Desktop Entry]
Type=Application
Name=DevCheck
Exec=waydroid app launch flar2.devcheck
Icon=/home/Nagisa/.local/share/waydroid/data/icons/flar2.devcheck.png
Categories=X-WayDroid-App;
X-Purism-FormFactor=Workstation;Mobile;
Actions=app_settings;

[Desktop Action app_settings]
Name=App Settings
Exec=waydroid app intent android.settings.APPLICATION_DETAILS_SETTINGS package:flar2.devcheck
Icon=/home/Nagisa/.local/share/waydroid/data/icons/com.android.settings.png
