[Desktop Entry]
Categories=Utility;
Comment=Wechat Desktop
Comment[zh_CN]=微信桌面版
Exec=env DESKTOPINTEGRATION=false /usr/bin/wechat %U --enable-features=UseOzonePlatform --ozone-platform=wayland --enable-wayland-ime
Icon=/usr/share/icons/wechat.png
Name=wechat
Name[zh_CN]=微信
StartupNotify=true
Terminal=false
Type=Application
X-AppImage-Version=4.0.1
